$register-font-size: 30px
$red-text: #df282a
$red-button: #e0292b

body
  background-color: #111
  color: white
  font-family: Lato, sans-serif
  font-size: 18px

a
  color: white

.btn
  border-radius: 0
  background-color: $red-button
  font-weight: bold
  font-family: Oswald, sans-serif

.register-now
  padding: 10px 50px
  font-size: $register-font-size
  text-transform: uppercase

.logo
  height: 70px

.header
  background-color: gray
  padding-bottom: 100px

  .navbar
    font-size: 14px
    border-radius: 0
    text-transform: uppercase
    font-weight: bold
    vertical-align: middle

    .register
      width: 200px
      font-size: $register-font-size
      text-align: center
      padding: 30px
      &:hover
        background-color: $red-button

  .main-logo
    margin: 50px auto 20px auto

  .subheader
    text-align: center
    font-size: 40px
    font-family: Oswald, sans-serif
    font-weight: bold
    color: white
    margin-bottom: 50px

.content
  text-align: center

  h1
    margin-top: 70px
    font-weight: bold
    font-size: 50px

    border-bottom: 1px solid transparent
    padding-bottom: 30px
    margin-bottom: 30px

    -moz-border-image: -moz-linear-gradient(left, #111111 0%, #aaa 50%, #111111 100%)
    -webkit-border-image: -webkit-linear-gradient(left, #111111 0%,#aaa 50%,#111111 100%)
    border-image: linear-gradient(to right, #111111 0%,#aaa 50%,#111111 100%)
    border-image-slice: 1

  p
    line-height: 1.5
    margin-bottom: 40px
    margin-top: 20px


.trailer
  max-height: 700px

.game-logo
  padding: 20px

.red-emphasis
  color: $red-text
  font-weight: bold

.rules
  margin-top: 20px

  p
    text-align: left
    line-height: 1.5
    margin-bottom: 1.5em

.prizes
  text-align: left

.prize-list
  margin-left: 50px

.organizers-row
  margin-bottom: 40px

  p
    text-transform: uppercase
    font-weight: bold

  img
    padding: 10px

.venue-name
  margin-top: 30px
  font-weight: bold

.venue-link
  color: $red-text
  &:visited, &:hover, &:active
    color: $red-text

.map
  margin-top: 30px
  margin-bottom: 50px

.footer
  background-color: gray

  .hashtag
    font-size: 30px
    text-transform: uppercase
    text-align: center
    margin: 30px 0

  .social-link
    text-decoration: none

    display: block
    padding: 10px 20px
    font-size: 25px
    font-weight: bold

    &.facebook
      background-color: #3b5999
      &:hover
        color: #3b5999
        background-color: white

    &.twitter
      background-color: #0084b4
      &:hover
        color: #0084b4
        background-color: white

    &.youtube
      background-color: #c4302c
      &:hover
        color: #c4302c
        background-color: white

  .copyright
    text-align: center
    padding: 20px
